.mainWindow {
    -fx-background-color: #000d1a
}

.side {
    -fx-background-color: #131022
}

.borderPane {
    -fx-background-color: #000d1a
}

.pane {
    -fx-border-width: 1;
    -fx-border-color: #a868a0;
}

.hbox{
    -fx-border-width: 1;
    -fx-border-color: #a868a0;
}

.textField{
    -fx-text-fill: #a868a0;
}

.inner {
    -fx-background-color: #131022
}

.toolbar {
    -fx-background-color: #141124;
}


.button {
    -fx-background-color: #141124;
    -fx-background-radius: 0 0 0 0;

    -fx-focus-traversable: false;
}

.button:hover {
    -fx-background-color: #524A7B;
    -fx-background-radius: 0 0 0 0;
}

.button:selected:focused{
    -fx-background-color: #524A7B;
    -fx-background-radius: 0 0 0 0;
}



#tb {
    -fx-background-color: #141124;
    -fx-background-radius: 0 0 0 0;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
    -fx-border-color: #A868A0;
    -fx-border-width: 1;
}

.tab-pane .tab {
    -fx-background-color: #141124;

}

.tab-pane .tab:selected {
    -fx-background-color: #2F2B43;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #A868A0;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #A868A0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.chart-legend-item-symbol {
    -fx-background-color: #A868A0;
}

.chart-line-symbol{
    -fx-shape: "";
}

.combo-box {
    -fx-pref-width: 100;
    -fx-background-color: white;
}

/** Size the combo-box drop down list. */
.combo-box-popup > .list-view {
    -fx-pref-width: 100;
    -fx-pref-height: 400;
}

.scroll-pane {
    -fx-background-color: #141124;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #A868A0;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #141124;
}

.progress-bar > .track {
    -fx-text-box-border: #141124;
    -fx-control-inner-background: #141124;
    -fx-background-radius:0;
    -fx-background-insets: 0, 1;
}


.progress-bar > .bar {
    -fx-padding:0;
    -fx-background-radius:0;
    -fx-background-insets: 0;
    -fx-background-color: #A868A0;
}

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
}

